# Data Science Tools and Ecosystem

## Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

## Data Science Languages

- Python
- R
- SQL
- Julia
- Scala

## Data Science Libraries

- Pandas
- NumPy
- Scikit-learn
- TensorFlow
- Keras
- ggplot2
- Matplotlib

## Data Science Tools

| Tool        | Purpose             |
|-------------|---------------------|
| Jupyter     | Interactive coding  |
| VS Code     | Code editor         |
| Git         | Version control     |
| Tableau     | Data visualization  |
| Excel       | Data manipulation   |

## Arithmetic Expression Examples

Let's explore some examples of arithmetic expressions in this section.

In [3]:
# Multiplication
result_mult = 5 * 10
print("Multiplication Result:", result_mult)

# Addition
result_add = 5 + 10
print("Addition Result:", result_add)

Multiplication Result: 50
Addition Result: 15

In [4]:
def minutes_to_hours(minutes):
    hours = minutes / 60
    return hours

# Example usage
minutes = 120
hours = minutes_to_hours(minutes)
print(f"{minutes} minutes is equal to {hours:.2f} hours.")

120 minutes is equal to 2.00 hours.

## Objectives

1. Explore various data science languages.
2. Learn about popular data science libraries.
3. Understand key data science tools.
4. Practice arithmetic expressions in Python.
5. Convert minutes to hours using a Python function.

## Author

SYED RAHMATH